version: "2"
services:
    nginx:
        container_name: nginx
        image: nginx
        ports:
            - "80:80"
            - "443:443"
        volumes: 
            - $PWD/nginx/nginx.conf:/etc/nginx/nginx.conf
            - $PWD/web/src:/var/wkhfund
    web:
        container_name: wkhfund
        build:
            context: web
            dockerfile: Dockerfile
        image: wkhfund
        volumes:
            - $PWD/web/src:/var/wkhfund
    postgres:
        container_name: postgres-server
        image: postgres
        ports:
            - "5432:5432"
